{% extends 'base.html' %}
{% load static %}
{% block title %}
	Pizza Website
{% endblock %}

{% block content %}
		<!-- variable has two brackets in django -->
    <h2> Welcome customer, what would you like to order?</h2>
	<div class="content-container">
		<div id="pizza-image">
		<!-- <img src="{% static 'images/pizza-image.jpg' %}" alt="Delicious Pizza"> -->
		<img src="{% static 'images/pizza-image2.jpg' %}" alt="Pizza 2">
		<br>
		<br>
		<a href="{% url 'login' %}" class="button-index">Login!</a>
		</div>
	</div>
{% endblock %}
{% block footer %}
<footer class="footer">
    Copyright Faith Njekwe
</footer>
{% endblock %}
